@import '../../variables.less';

.stylish-section {
	padding: 74px 0 63px 0;
	background-image: url('../img/Custom_Panel.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}