.header {
  background-color: #37495e;
  position: relative;
}
.container_header {
  height: 72px;
}
.container_between {
  justify-content: space-between;
}
.submenu-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  top: 72px;
  left: 0;
  right: 0;
  list-style: none;
}
.preview-list {
  display: flex;
  list-style: none;
  padding: 2.14em 0;
}
.preview-list__item:not(:last-child) {
  margin-right: 1.07em;
}
.preview-list__item:hover .preview-list__title {
  color: #ff8b38;
}
.preview-list__title {
  color: #86878b;
  margin-bottom: 0.7em;
}
.preview-list__image {
  height: 100px;
}
.submenu-nav {
  display: flex;
  padding: 4.07em 0 2.43em 0;
}
.submenu-nav .submenu-nav__item {
  display: flex;
  flex-direction: column;
  margin-left: 2.14em;
}
.submenu-nav .submenu-nav__item a {
  margin-bottom: 0.64em;
  color: #37495e;
  display: inline-block;
}
.submenu-nav .submenu-nav__item a:last-child {
  margin-bottom: 0;
}
.submenu-nav .submenu-nav__item a:hover {
  color: #ff8b38;
}
.navigation__list {
  display: flex;
  list-style: none;
}
.navigation__item {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.71em;
  transition: .3s;
}
.navigation__item a {
  color: #ffffff;
  text-decoration: none;
}
.navigation__item:hover {
  background-color: #ff8b38;
}
.navigation__item_features:hover .submenu-list_features {
  display: flex;
  justify-content: center;
}
.navigation__item_about:hover .submenu-list_about {
  display: flex;
  justify-content: center;
}
.navigation__item_pricing:hover .submenu-list_pricing {
  display: flex;
  justify-content: center;
}
.navigation__item_reviews:hover .submenu-list_reviews {
  display: flex;
  justify-content: center;
}
.navigation__item_contact:hover .submenu-list_contact {
  display: flex;
  justify-content: center;
}
.wrapper-menu {
  margin: 0 0 0 auto;
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.wrapper-menu::hover {
  cursor: pointer;
}
.wrapper-menu.open {
  transform: rotate(-45deg);
}
.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}
.line-menu.half {
  width: 50%;
}
.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}
.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
.navigation-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 72px;
  list-style: none;
  left: 0;
  width: 100vw;
  height: calc(100vh - 72px);
  background: #37495e;
  z-index: 1111;
  justify-content: center;
}
.navigation-mobile__item {
  transition: .3s;
}
.navigation-mobile__item:not(:last-child) {
  margin-bottom: 15px;
}
.navigation-mobile__item:hover a {
  cursor: pointer;
  color: #ff8b38;
}
.navigation-mobile__item a {
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff;
}
.visible {
  display: flex;
  animation: fadeIn 2s ease-in both;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
  }
  .logo__image {
    width: 130px;
  }
  .wrapper-menu {
    display: flex;
  }
  .navigation__list {
    display: none;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1024px) {
  .submenu-list {
    flex-wrap: wrap;
  }
  .submenu-nav {
    padding: 0 0 2.43em 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1260px) {
  .submenu-list {
    padding: 0 20px;
  }
}
