.footer {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.07em;
  text-align: center;
  background-color: #37495e;
}
.social {
  display: flex;
  width: 320px;
  list-style: none;
  margin-bottom: 1.07em;
}
.social__item:not(:first-child) {
  margin-left: 2.14em;
}
.social__item i {
  color: #cccccc;
  font-size: 1.57em;
  transition: .2s;
}
.social__item i:hover {
  color: #ff8b38;
  transform: rotate(360deg);
}
.policy {
  opacity: 0.5;
  color: #ffffff;
  font-size: 0.85em;
}
@media only screen and (max-width: 425px) {
  .footer .social {
    justify-content: center;
  }
}
