@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700|Raleway:300,400,700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.none {
  display: none !important;
}
html {
  font-size: 14px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #86878b;
}
.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.container_column {
  flex-direction: column;
}
.container_start {
  align-items: flex-start;
}
.header {
  background-color: #37495e;
  position: relative;
}
.container_header {
  height: 72px;
}
.container_between {
  justify-content: space-between;
}
.submenu-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  top: 72px;
  left: 0;
  right: 0;
  list-style: none;
}
.preview-list {
  display: flex;
  list-style: none;
  padding: 2.14em 0;
}
.preview-list__item:not(:last-child) {
  margin-right: 1.07em;
}
.preview-list__item:hover .preview-list__title {
  color: #ff8b38;
}
.preview-list__title {
  color: #86878b;
  margin-bottom: 0.7em;
}
.preview-list__image {
  height: 100px;
}
.submenu-nav {
  display: flex;
  padding: 4.07em 0 2.43em 0;
}
.submenu-nav .submenu-nav__item {
  display: flex;
  flex-direction: column;
  margin-left: 2.14em;
}
.submenu-nav .submenu-nav__item a {
  margin-bottom: 0.64em;
  color: #37495e;
  display: inline-block;
}
.submenu-nav .submenu-nav__item a:last-child {
  margin-bottom: 0;
}
.submenu-nav .submenu-nav__item a:hover {
  color: #ff8b38;
}
.navigation__list {
  display: flex;
  list-style: none;
}
.navigation__item {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.71em;
  transition: .3s;
}
.navigation__item a {
  color: #ffffff;
  text-decoration: none;
}
.navigation__item:hover {
  background-color: #ff8b38;
}
.navigation__item_features:hover .submenu-list_features {
  display: flex;
  justify-content: center;
}
.navigation__item_about:hover .submenu-list_about {
  display: flex;
  justify-content: center;
}
.navigation__item_pricing:hover .submenu-list_pricing {
  display: flex;
  justify-content: center;
}
.navigation__item_reviews:hover .submenu-list_reviews {
  display: flex;
  justify-content: center;
}
.navigation__item_contact:hover .submenu-list_contact {
  display: flex;
  justify-content: center;
}
.wrapper-menu {
  margin: 0 0 0 auto;
  width: 40px;
  height: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.wrapper-menu::hover {
  cursor: pointer;
}
.wrapper-menu.open {
  transform: rotate(-45deg);
}
.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}
.line-menu.half {
  width: 50%;
}
.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}
.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
.navigation-mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 72px;
  list-style: none;
  left: 0;
  width: 100vw;
  height: calc(100vh - 72px);
  background: #37495e;
  z-index: 1111;
  justify-content: center;
}
.navigation-mobile__item {
  transition: .3s;
}
.navigation-mobile__item:not(:last-child) {
  margin-bottom: 15px;
}
.navigation-mobile__item:hover a {
  cursor: pointer;
  color: #ff8b38;
}
.navigation-mobile__item a {
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff;
}
.visible {
  display: flex;
  animation: fadeIn 2s ease-in both;
}
@media only screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
  }
  .logo__image {
    width: 130px;
  }
  .wrapper-menu {
    display: flex;
  }
  .navigation__list {
    display: none;
  }
}
@media only screen and (min-width: 761px) and (max-width: 1024px) {
  .submenu-list {
    flex-wrap: wrap;
  }
  .submenu-nav {
    padding: 0 0 2.43em 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1260px) {
  .submenu-list {
    padding: 0 20px;
  }
}
.welcome-section {
  height: calc(100vh - 72px);
  background-image: url('../img/welcome-section.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.h1 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2.57em;
  text-transform: uppercase;
}
.h1_dark {
  color: #212121;
}
.content {
  max-width: 515px;
}
.content__text {
  opacity: 0.8;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 1.14em;
  font-weight: 300;
  line-height: 1.64;
  margin-bottom: 41px;
}
.content__button {
  padding: 10px 30px;
  background: transparent;
  border: 2px solid #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.07em;
  transition: .3s;
}
.content__button:hover {
  background: #ff8b38;
  cursor: pointer;
}
.container_welcome {
  height: calc(100vh - 72px);
  justify-content: space-between;
}
.line::after {
  content: "";
  display: block;
  margin: 35px 0;
  width: 64px;
  height: 2px;
  border-radius: 3px;
  background-color: #ffffff;
}
.line_orange::after {
  content: "";
  display: block;
  margin: 25px 0;
  width: 64px;
  height: 2px;
  border-radius: 3px;
  background-color: #ff8b38;
}
.line_center::after {
  margin: 25px auto;
}
.card {
  max-width: 360px;
}
.card__header {
  padding: 15px 53px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.42em;
  font-weight: 700;
  background-color: #f5f5f5;
  border-radius: 2px 2px 0 0;
}
.orange {
  color: #ff8b38;
}
.trial-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 29px;
  background-color: #ffffff;
}
.trial-form__input {
  height: 31px;
  border: none;
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
}
.trial-form__input::placeholder {
  padding-left: 14px;
  color: #bdbdbd;
}
.trial-form__input_name {
  margin-bottom: 36px;
}
.trial-form__input_email,
.trial-form__input_password {
  margin-bottom: 47px;
}
.trial-form__input:not(last-child) {
  width: 285px;
}
.trial-form__input:focus {
  outline: none;
  box-shadow: 0 1px 0 #ff8b38;
}
.trial-form__button {
  width: 100%;
  height: 54px;
  background-color: #ff8b38;
  border: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.07em;
  font-weight: 500;
  transition: .3s;
}
.trial-form__button:hover {
  cursor: pointer;
  background-color: #37495e;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .welcome-section {
    height: auto;
  }
  .container_welcome {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: auto;
  }
  .content {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1180px) {
  html {
    font-size: 14px;
  }
  .welcome-section {
    padding: 0 20px;
  }
  .content {
    margin-right: 20px;
  }
}
.social-media {
  padding: 22px 0;
}
.social-media__info {
  max-width: 361px;
}
.social-media__links {
  width: auto;
  margin-bottom: 0;
}
.social-media__links .social__item i {
  font-size: 3.21em;
}
.social-media__links .social__item:not(:first-child) {
  margin-left: 58px;
}
.social-media .social {
  width: auto;
}
.h2 {
  color: #333333;
  font-size: 1.42em;
  font-weight: 700;
}
.text {
  line-height: 1.42;
}
@media only screen and (max-width: 425px) {
  .social-media .container {
    flex-wrap: wrap;
  }
  .social-media {
    padding: 22px 10px;
  }
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .social__item {
    margin-bottom: 10px;
  }
  .social-media__info {
    max-width: 320px;
    margin-bottom: 20px;
  }
  .social-media__links .social__item:not(:first-child) {
    margin-left: 2.14em;
  }
  .social-media__links .social__item:nth-child(6) {
    margin-left: 0;
  }
}
@media only screen and (min-width: 344px) and (max-width: 375px) {
  .social-media__links {
    padding: 0 35px;
  }
  .social-media__links .social__item:nth-child(6) {
    margin-left: 2.14em;
  }
  .social-media__links .social__item:nth-child(5) {
    margin-left: none;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .social-media__links {
    padding: 0 50px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 767px) {
  .social-media .social {
    width: 100%;
    text-align: center;
  }
  .social-media__links {
    flex-direction: column;
  }
  .social-media .container {
    flex-direction: column;
  }
  .social-media__info {
    margin-bottom: 30px;
  }
  .social__item {
    margin-left: 0	;
  }
  .social__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .social-media__links .social__item:not(:first-child) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .social-media {
    padding: 20px;
  }
  .social-media__links .social__item i {
    font-size: 2.31em;
  }
  .social-media__links .social__item:not(:first-child) {
    margin-left: 1.24em;
  }
}
.tabs {
  display: flex;
}
.tabs__button {
  border: none;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  padding: 16px 25px;
  background-color: #ff8b38;
  color: #ffffff;
  font-size: 1.07em;
  transition: .3s;
}
.tabs__button:hover {
  cursor: pointer;
  background: #37495e;
}
.tabs-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-right: 101px;
}
.tabs-nav__item {
  display: flex;
  width: 112px;
  padding: 45px 0px;
  justify-content: center;
  font-size: 1.07em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #37495e;
  color: #ffffff;
  transition: .3s;
}
.tabs-nav__item:first-child {
  border-radius: 4px 4px 0 0;
}
.tabs-nav__item:last-child {
  border-radius: 0 0 4px 4px;
}
.tabs-nav__item:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}
.tabs-nav__item:hover {
  background-color: #ff8b38;
  cursor: pointer;
}
.tabs-nav .active {
  background-color: #ff8b38;
  width: 110px;
}
.tabs-body {
  list-style: none;
  padding-top: 2px;
}
.tabs-body__item {
  display: none;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.tabs-body__item img {
  margin-top: 20px;
}
.tabs-body__item .wrapper {
  width: 477px;
  margin-right: 100px;
}
.tabs-body__item .h2 {
  margin-bottom: 47px;
}
.tabs-body__item .text {
  margin-bottom: 20px;
}
.tabs-body__item .last {
  margin-bottom: 46px;
}
.tabs-body .show {
  display: flex;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .tabs-nav {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 20px;
    justify-content: center;
  }
  .tabs-nav__item:first-child {
    border-radius: 4px 0 0 4px;
  }
  .tabs-nav__item:last-child {
    border-radius: 0 4px 4px 0;
  }
  .tabs-nav__item:not(:last-child) {
    border-bottom: 0;
    border-right: 1px solid #ffffff;
  }
  .section_tabs .container_column {
    flex-direction: row;
  }
  .container_start {
    align-items: center;
  }
  .tabs {
    flex-wrap: wrap;
  }
  .tabs-body__item {
    max-width: 570px;
  }
  .tabs-body__item .wrapper {
    width: auto;
    margin-right: 0;
    padding: 0 10px;
  }
  .tabs-body .show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tabs .tabs-nav .active {
    height: 107px;
  }
  .tabs {
    justify-content: center;
  }
  .section_tabs {
    overflow: hidden;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1080px) {
  .container_start {
    align-items: center;
  }
  .tabs-nav {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 20px;
    justify-content: center;
  }
  .tabs-nav__item:first-child {
    border-radius: 4px 0 0 4px;
  }
  .tabs-nav__item:last-child {
    border-radius: 0 4px 4px 0;
  }
  .tabs-nav__item:not(:last-child) {
    border-bottom: 0;
    border-right: 1px solid #ffffff;
  }
  .tabs {
    flex-direction: column;
  }
  .tabs-body__item {
    max-width: 570px;
  }
  .tabs-body__item .wrapper {
    width: auto;
    margin-right: 0;
    padding: 0 10px;
  }
  .tabs-body .show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tabs .tabs-nav .active {
    height: 107px;
  }
  .tabs {
    justify-content: center;
  }
  .section_tabs {
    overflow: hidden;
  }
}
.section {
  display: flex;
  padding: 108px 0;
}
.section__image {
  width: 453px;
  height: 304px;
  overflow: hidden;
  -webkit-box-shadow: 0px 13px 31px -6px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 13px 31px -6px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 13px 31px -6px rgba(0, 0, 0, 0.45);
}
.section:nth-child(even) .section__card {
  order: -1;
  margin-top: -14px;
}
.section:nth-child(odd) .section__image {
  margin-top: 26px;
  margin-left: -7px;
}
.section:nth-child(even) .section__image {
  margin-top: -26px;
}
.section__card {
  max-width: 473px;
}
.section__card .text:not(:last-child) {
  margin-bottom: 18px;
}
.section_gray {
  background-color: #f5f5f5;
}
.container_section {
  align-items: flex-start;
}
.text_mb {
  margin-bottom: 80px;
}
.sublist-section .section__card .text {
  margin-bottom: 44px;
  max-width: 471px;
}
.sub-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.sub-list__item {
  display: flex;
  max-width: 434px;
  justify-content: space-between;
  margin-bottom: 27px;
}
.sub-list__item .wrapper {
  max-width: 363px;
}
.h4 {
  color: #212121;
  font-weight: 600;
  line-height: 1.21;
  margin-bottom: 8px;
}
@media only screen and (max-width: 768px) {
  .section__card {
    padding: 15px;
  }
  .section {
    padding: 50px 0;
  }
  .text_mb {
    margin-bottom: 30px;
  }
  .picture-section .container_section {
    flex-direction: column;
  }
  .section__image {
    width: 320px;
    margin-top: 0;
  }
  .section:nth-child(even) .section__image {
    margin-top: 0;
  }
  .container_section {
    align-items: center;
    flex-direction: column;
  }
  .section:nth-child(odd) .section__image {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .section__card {
    max-width: 320px;
  }
  .sub-list__item .wrapper {
    max-width: 230px;
  }
  .section:nth-child(even) .section__card {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .sublist-section,
  .picture-section {
    padding: 108px 20px;
  }
  .container_section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section:nth-child(even) .section__image {
    margin-top: 26px;
  }
  .section:nth-child(odd) .section__image {
    margin-top: 26px;
    margin-right: 26px;
  }
  .section:nth-child(even) .section__card {
    margin-right: 20px;
  }
  .section__card {
    margin-top: 20px;
  }
}
.stylish-section {
  padding: 74px 0 63px 0;
  background-image: url('../img/Custom_Panel.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.text-center {
  text-align: center;
}
@media only screen and (max-width: 425px) {
  .stylish-section {
    padding: 35px 15px 30px 15px;
  }
  .stylish-section .h1 {
    text-align: center;
  }
}
.awesome-list,
.price-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.awesome-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 352px;
}
.flex-container {
  max-width: 100%;
}
.text_center {
  text-align: center;
}
.h3 {
  color: #333333;
  font-size: 1.42em;
  font-weight: 700;
  line-height: 1.71;
  margin-bottom: 1.78em;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  margin-bottom: 2.07em;
}
.icon i,
.icon img {
  color: #ff8b38;
  font-size: 2.07em;
}
.icon_small {
  width: 40px;
  height: 40px;
}
.icon_small i {
  font-size: 1.14em;
}
@media only screen and (max-width: 425px) {
  .awesome-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section_awesome {
    padding: 50px 10px;
  }
  .awesome-list__item {
    max-width: 320px;
  }
  .awesome-list__item:not(:last-child) {
    margin-bottom: 25px;
  }
  .awesome-list__item .icon {
    margin-bottom: 0.8em;
  }
  .awesome-list__item .h3 {
    margin-bottom: .8em;
  }
  .h1_dark {
    text-align: center;
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .awesome-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .awesome-list__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .awesome-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 352px;
    padding: 0 10px;
  }
}
.trial-form_contact {
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.trial-form_contact .trial-form__input {
  width: 100%;
  color: #bdbdbd;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.trial-form_contact .trial-form__input_name,
.trial-form_contact .trial-form__input_email {
  margin-bottom: 2.14em;
}
.trial-form_contact .trial-form__button_contact {
  width: auto;
  height: auto;
  padding: 1.07em 1.64em;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  font-size: 1.07em;
  font-weight: 500;
}
.trial-form_contact .trial-form__textarea {
  width: 527px;
  min-height: 153px;
  padding-top: 0.5em;
  padding-left: 0.78em;
  border: none;
  resize: none;
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
  color: #bdbdbd;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.trial-form_contact .trial-form__textarea:focus {
  outline: none;
  box-shadow: 0 1px 0 #ff8b38;
}
.trial-form_contact .trial-form__textarea::placeholder {
  color: #bdbdbd;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.trial-form .wrapper {
  display: flex;
  flex-direction: column;
  width: 528px;
  margin-bottom: 2.86em;
}
@media only screen and (max-width: 1024px) {
  .trial-form_contact {
    flex-direction: column;
    align-items: center;
  }
  .section_contact {
    padding: 50px 10px;
  }
  .trial-form__textarea {
    margin-bottom: 20px;
  }
  .trial-form .wrapper {
    width: 100%;
  }
  .trial-form_contact .trial-form__textarea {
    width: 100%;
  }
}
.price-list__item {
  min-width: 343px;
}
.price-list-header:not(.popular) {
  margin-top: 35px;
}
.price-list-header_item {
  width: 100%;
  padding: 17px;
  background-color: #37495e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-list-header_item:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}
.price-list-header_item:last-child {
  border-bottom: 5px solid #ff8b38;
}
.price-list-header_tariff {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.42em;
  font-weight: 700;
}
.price-list-header_price {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 35px;
  padding: 0;
  height: 102px;
}
.price-list-header_price .number {
  display: inline-block;
  font-size: 93px;
}
.price-list-header_price .currency {
  margin-bottom: -44px;
}
.price-list-header_payment {
  color: #9ba4ae;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
}
.price-list__description {
  background-color: #ffffff;
  height: 40px;
  text-align: center;
  color: #86878b;
  text-transform: uppercase;
  line-height: 2.85;
}
.price-list__description:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}
.popular::after {
  content: 'OUR MOST POPULAR';
  display: flex;
  color: #ffffff;
  min-width: 343px;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  height: 40px;
  background-color: #ff8b38;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 639px) {
  .price-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section .price-list__item {
    min-width: 320px;
  }
  .price-list-header {
    margin-top: 0;
  }
  .popular::after {
    min-width: 320px;
  }
}
@media only screen and (max-width: 768px) {
  .price-list {
    flex-direction: column;
  }
  .price-list {
    width: auto;
  }
  .price-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .price-list-header:not(.popular) {
    margin-top: 0;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .price-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.section_flex {
  display: flex;
  flex-direction: column;
}
.section_center {
  align-items: center;
}
.slider {
  width: 100%;
  padding: 0 7.57em;
  position: relative;
}
.slider__button {
  border: none;
  background-color: transparent;
  transition: .3s;
  margin-top: 3.57em;
}
.slider__button:hover:not([disabled]) {
  cursor: pointer;
  transform: scale(1.3);
}
.prev {
  position: absolute;
  left: -68px;
  top: 5px;
  z-index: 1;
}
.next {
  position: absolute;
  right: -11px;
  top: 2px;
  z-index: 1;
}
.wrapper_slider {
  display: flex;
  position: relative;
}
.slides-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  transition: margin-left 250ms ease 0s;
}
.slides-list__item {
  display: none;
  min-width: 273px;
  margin-right: 9.42em;
}
.slides-list__item:last-child {
  margin-right: 4.86em;
}
.slides-list .visible {
  display: block;
}
.comment {
  padding: 1.71em 0.85em;
  background-color: #f5f5f5;
  color: #86878b;
  font-style: italic;
  position: relative;
  margin-bottom: 1.64em;
}
.comment::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #f5f5f5 transparent transparent transparent;
}
.client {
  display: flex;
}
.client__image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1em;
}
.client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.client-info__name {
  color: #333333;
  font-size: 1.42em;
  font-weight: 700;
}
@media only screen and (max-width: 375px) {
  .slider {
    padding: 0;
  }
  .slides-list__item {
    margin-right: 0;
    max-width: 245px;
    min-width: 100%;
  }
  .slides-list__item:last-child {
    margin-right: 0;
  }
  .slides-list {
    width: auto;
  }
  .wrapper_slider {
    justify-content: center;
  }
  .prev {
    left: 9px;
  }
  .next {
    right: 9px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 500px) {
  .slider {
    padding: 0;
  }
  .slides-list__item {
    margin-right: 0;
    max-width: 285px;
    min-width: 100%;
  }
  .slides-list__item:last-child {
    margin-right: 0;
  }
  .slides-list {
    width: auto;
  }
  .wrapper_slider {
    justify-content: center;
  }
  .prev {
    left: 19px;
  }
  .next {
    right: 19px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  .slider {
    padding: 0;
  }
  .slides-list__item {
    margin-right: 0;
    max-width: 320px;
    min-width: 100%;
  }
  .slides-list__item:last-child {
    margin-right: 0;
  }
  .slides-list {
    width: auto;
  }
  .wrapper_slider {
    justify-content: center;
  }
  .prev {
    left: 39px;
  }
  .next {
    right: 39px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 880px) {
  .slider {
    padding: 0;
  }
  .slides-list__item {
    margin-right: 0;
    max-width: 360px;
    min-width: 100%;
  }
  .slides-list__item:last-child {
    margin-right: 0;
  }
  .slides-list {
    width: auto;
  }
  .wrapper_slider {
    justify-content: center;
  }
  .prev {
    left: 49px;
  }
  .next {
    right: 49px;
  }
}
.footer {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.07em;
  text-align: center;
  background-color: #37495e;
}
.social {
  display: flex;
  width: 320px;
  list-style: none;
  margin-bottom: 1.07em;
}
.social__item:not(:first-child) {
  margin-left: 2.14em;
}
.social__item i {
  color: #cccccc;
  font-size: 1.57em;
  transition: .2s;
}
.social__item i:hover {
  color: #ff8b38;
  transform: rotate(360deg);
}
.policy {
  opacity: 0.5;
  color: #ffffff;
  font-size: 0.85em;
}
@media only screen and (max-width: 425px) {
  .footer .social {
    justify-content: center;
  }
}
