.section_flex {
  display: flex;
  flex-direction: column;
}
.section_center {
  align-items: center;
}
.slider {
  width: 100%;
  padding: 0 7.57em;
  position: relative;
}
.slider__button {
  border: none;
  background-color: transparent;
  transition: .3s;
  margin-top: 3.57em;
}
.slider__button:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.prev {
  position: absolute;
  left: -68px;
  top: 5px;
  z-index: 1;
}
.next {
  position: absolute;
  right: -11px;
  top: 2px;
  z-index: 1;
}
.wrapper_slider {
  display: flex;
  position: relative;
}
.slides-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  width: 9999px;
  transition: margin-left 250ms ease 0s;
}
.slides-list__item {
  min-width: 273px;
  position: relative;
  margin-right: 9.42em;
}
.slides-list__item:last-child {
  margin-right: 4.86em;
}
.comment {
  padding: 1.71em 0.85em;
  background-color: #f5f5f5;
  color: #86878b;
  font-style: italic;
  position: relative;
  margin-bottom: 1.64em;
}
.comment::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: 28px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #f5f5f5 transparent transparent transparent;
}
.client {
  display: flex;
}
.client__image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1em;
}
.client-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.client-info__name {
  color: #333333;
  font-size: 1.42em;
  font-weight: 700;
}
